/**index.scss**/

page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
